---
import { config } from "@/config";
import { getCollection, render } from "astro:content";
import Root from "@/layouts/root.astro";

const principles = await getCollection("principles");

const link = [
  "underline",
  "underline-offset-4",
  "decoration-zinc-400",
  "dark:decoration-zinc-500",
  "hover:decoration-current",
];
---

<Root>
  <header class="flex flex-col space-y-2">
    <h1 class="text-2xl font-bold">
      {config.title}<span class="text-braun">.</span>
    </h1>
    <p>
      by <a href={config.author.url} class:list={link}>{config.author.name} </a>
    </p>
  </header>
  <main>
    <ol
      class:list={[
        "[---gap:2rem]",
        "[---marker-size:2.25rem]",
        "list-[decimal-leading-zero]",
        "grid",
        "sm:grid-cols-[repeat(2,minmax(0,max-content))] 2xl:grid-cols-5",
        "gap-x-[calc(var(---gap)+var(---marker-size))]",
        "gap-y-(---gap)",
        "w-[calc(100%-var(---marker-size))]",
        "ml-(---marker-size)",
        "marker:font-semibold",
        "marker:text-lg",
      ]}
    >
      {
        Promise.all(
          principles
            .sort((a, b) => {
              const aId = a.id.split("-")[0];
              const bId = b.id.split("-")[0];

              if (typeof aId === "undefined" || typeof bId === "undefined")
                throw new Error(`Invalid ID of "${a.id}" or "${b.id}".`);

              const aIndex = Number.parseInt(aId, 10);
              const bIndex = Number.parseInt(bId, 10);

              if (isNaN(aIndex) || isNaN(bIndex))
                throw new Error(`Invalid ID of "${a.id}" or "${b.id}".`);

              return aIndex - bIndex;
            })
            .map(async (principle) => {
              const { Content } = await render(principle);

              return (
                <li class="max-w-[45ch] space-y-2 *:[h2]:text-lg *:[h2]:font-semibold *:[p]:text-base">
                  <Content />
                </li>
              );
            }),
        )
      }
    </ol>
  </main>
  <footer>
    <ul class="flex space-x-4 *:[&+*]:before:mr-4 *:[&+*]:before:content-['•']">
      <li>
        Built by <a href={config.builder.url} class:list={link}
          >{config.builder.name}
        </a>
      </li>
      <li>
        <a href={config.github} class:list={link}>View Source</a>
      </li>
    </ul>
  </footer>
</Root>
