---
import rawStyles from "../styles/output.css?raw";

import type { MarkdownInstance } from "astro";

const config = {
  canonical: "https://tenprinciples.design",
  title: "Ten Principles for Good Design",
  description: "Dieter Rams' Ten Principles for Good Design",
  author: {
    name: "Dieter Rams",
    url: "https://en.wikipedia.org/wiki/Dieter_Rams",
  },
  builder: { name: "Joe Bell", url: "https://joebell.co.uk" },
  github: "https://github.com/joe-bell/tenprinciples.design",
  twitter: "@joebell_",
} as const;

const principles = (await Astro.glob(
  "../principles/*.md"
)) as MarkdownInstance<{}>[];

const link = [
  "underline",
  "underline-offset-4",
  "decoration-zinc-300",
  "dark:decoration-zinc-500",
  "hover:decoration-current",
];
---

<html lang="en" class:list={["grid", "items-center", "h-full"]}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />

    <title>{config.title}</title>

    <style is:inline set:html={rawStyles}>

    </style>

    <meta name="twitter:site" content={config.twitter} />
    <meta name="twitter:creator" content={config.twitter} />
    <meta property="og:url" content={config.canonical} />
    <meta property="og:title" content={config.title} />
    <meta property="og:description" content={config.description} />

    <meta name="description" content={config.description} />

    <link rel="canonical" href={config.canonical} />

    <script
      defer
      src="/plausible/js/script.js"
      data-api="/plausible/api/event"
      data-domain="tenprinciples.design"
    ></script>
  </head>
  <body
    class:list={[
      ["text-zinc-900", "dark:text-zinc-50"],
      ["bg-white", "dark:bg-zinc-900"],
      "grid",
      "items-center",
      "gap-12",
      "px-6",
      "pt-16",
      ["pb-12", "sm:pb-16"],
      "h-max",
      "w-full",
      "max-w-[104rem]",
      "mx-auto",
    ]}
  >
    <header class:list={["flex", "flex-col", "space-y-2"]}>
      <h1 class:list={["text-2xl", "font-bold"]}>
        {config.title}<span class:list={["text-braun"]}>.</span>
      </h1>
      <p>
        by <a href={config.author.url} class:list={link}
          >{config.author.name}
        </a>
      </p>
    </header>
    <main>
      <ol
        class:list={[
          "[--gap:2rem]",
          "[--marker-size:2.25rem]",
          "list-[decimal-leading-zero]",
          "grid",
          ["sm:grid-cols-[repeat(2,minmax(0,max-content))]", "2xl:grid-cols-5"],
          "gap-x-[calc(var(--gap)+var(--marker-size))]",
          "gap-y-[var(--gap)]",
          "w-[calc(100%-var(--marker-size))]",
          "ml-[var(--marker-size)]",
          "marker:font-semibold",
          "marker:text-lg",
        ]}
      >
        {
          principles.map(({ Content }) => (
            <li
              class:list={[
                "space-y-2",
                "max-w-[45ch]",
                ["[&_>_h2]:text-lg", "[&_>_h2]:font-semibold"],
                ["[&_>_p]:text-base"],
              ]}
            >
              <Content />
            </li>
          ))
        }
      </ol>
    </main>
    <footer>
      <ul
        class:list={[
          "flex",
          "space-x-4",
          "[&_>_*_+_*]:before:mr-4",
          "[&_>_*_+_*]:before:content-['•']",
        ]}
      >
        <li>
          Built by <a href={config.builder.url} class:list={link}
            >{config.builder.name}
          </a>
        </li>
        <li>
          <a href={config.github} class:list={link}>View Source</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
