---
import rawStyles from "../styles/output.css?raw";

import type { MarkdownInstance } from "astro";

const config = {
  canonical: "https://tenprinciples.design",
  title: "Ten Principles for Good Design",
  description: "Dieter Rams' Ten Principles for Good Design",
  author: "Dieter Rams",
  builder: { name: "Joe Bell", url: "https://joebell.co.uk" },
  github: "https://github.com/joe-bell/tenprinciples.design",
  twitter: "@joebell_",
} as const;

const principles = (await Astro.glob(
  "../principles/*.md"
)) as MarkdownInstance<{}>[];
---

<html lang="en" class:list={["grid", "items-center", "h-full"]}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />

    <title>{config.title}</title>

    <style is:inline set:html={rawStyles}>

    </style>

    <meta name="twitter:site" content={config.twitter} />
    <meta name="twitter:creator" content={config.twitter} />
    <meta property="og:url" content={config.canonical} />
    <meta property="og:title" content={config.title} />
    <meta property="og:description" content={config.description} />

    <meta name="description" content={config.description} />

    <link rel="canonical" href={config.canonical} />

    <script
      defer
      src="/plausible/js/script.js"
      data-api="/plausible/api/event"
      data-domain="tenprinciples.design"
    ></script>
  </head>
  <body
    class:list={[
      ["text-zinc-900", "dark:text-zinc-50"],
      "grid",
      "items-center",
      "gap-8",
      "py-8",
      "px-6",
      "h-max",
      "w-full",
      "max-w-[1400px]",
      "mx-auto",
      "dark:bg-zinc-900",
    ]}
  >
    <header>
      <h1 class:list={["text-xl", "font-bold"]}>{config.title}</h1>
      <p>{config.author}</p>
    </header>
    <main>
      <ol
        class:list={[
          "grid",
          "gap-6",
          "w-full",
          "list-decimal",
          ["sm:grid-cols-2", "xl:grid-cols-5"],
        ]}
      >
        {
          principles.map(({ Content }) => (
            <li
              class:list={[
                "flex",
                "flex-col",
                "space-y-2",
                "max-w-prose",
                ["[&_>_h2]:text-lg", "[&_>_h2]:font-semibold"],
              ]}
            >
              <Content />
            </li>
          ))
        }
      </ol>
    </main>
    <footer>
      <ul class:list={["flex", "space-x-6", "divide-x", "divide-zinc-300"]}>
        <li>
          Built by <a href={config.builder.url} class:list={["underline"]}
            >{config.builder.name}
          </a>
        </li>
        <li class:list={["pl-6"]}>
          <a href={config.github} class:list={["underline"]}>View Source</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
